!!! 5
html
  head
    title CoffeeScript
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/prettify/prettify.css')
  body!= body
    script(src="/css/prettify/prettify.js")
    script(src="/socket.io/socket.io.js")
    script(src="js/slide.js")
    script(src="js/stickypaper.js")
